container/*
!container/README.pdf
!container/.devcontainer
container/.devcontainer/.*CommandMarker
container/.devcontainer/mariadb/db
container/.devcontainer/mariadb/socket
container/.devcontainer/mongodb/db