workspace/*
!workspace/README.pdf
!workspace/.devcontainer
workspace/.devcontainer/.*CommandMarker
workspace/.devcontainer/mariadb/db
workspace/.devcontainer/mariadb/socket
workspace/.devcontainer/mongodb/db