workspace/*
!workspace/README.pdf
!workspace/.devworkspace
workspace/.devworkspace/.*CommandMarker
workspace/.devworkspace/mariadb/db
workspace/.devworkspace/mariadb/socket
workspace/.devworkspace/mongodb/db